streamlit
torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cpu
librosa>=0.11.0
numpy
Pillow
soundfile
scipy
pydub
python-dotenv
requests
scikit-learn
SQLAlchemy
fastapi
uvicorn
gunicorn
python-multipart
passlib[bcrypt]